@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 0.3slinear;
}
nav.toggle-btn {
  background-color: #1f1f1f; /* Dark navbar background */
}
body.dark {
  background-color: #121212; 
  color: #ffffff; 
}
body.dark .event-box , body.dark #events,  body.dark #contact {
  background-color: #121212;
}
body.dark .event-box{
  border: 2px solid white;
}
body.dark .contact-form{
  background-color:#1F2937;
}
body.dark .contact-form select option, .user_search option{
  background-color:#1F2937;
  color: white;
}
body.dark .regform_body{
 background-color:  #34393f;
 color: #fff;
}
body.dark .regform_body .regForm_left{
  background-color: #171b1e;

}
body.dark .regform_body .regForm_content{
  background-color: #212429;

}
body.dark .regform_body .regForm_content label , body.dark .regform_body .regForm_content select option, body.dark .login_form label, body.dark .main_Dashboard, body.dark .user_search{
  color: white;
  background-color: #212429;
}
body.dark .regform_body .regForm_content .toggle-btn{
  color: black
}
body{
  background-color: #f7fafc;
}
body.dark .login_form, body.dark .sidebar{
  background-color: #212429;
  
}
body.dark .sidebar{
  color: white;
}